.light {
  position:relative;
  width:100%;
  height:100%;
  border-radius:50%;
  box-shadow:inset 0 0 150px rgba(255,255,255,.8);
}

.lightON {

    background-color: #ffcc00;
}

.lightOFF {

    background-color: #332900;
}
